<!DOCTYPE html>
<html lang="en" ng-app="eventsApp" xmlns="http://www.w3.org/1999/html">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Event Registration</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div class="container">
    <div class="navbar" ng-controller="MainMenuController">
        <div class="navbar-inner">
            <ul class="nav">
                <ul class="nav">
                    <li><a href="#" ng-click="createEvent()">Create Event</a></li>
                </ul>
            </ul>
        </div>
    </div>
    <ng-view>
    </ng-view>
</div>
<script src="lib/jquery.min.js"></script>
<script src="lib/underscore-1.4.4.min.js"></script>
<script src="lib/bootstrap.min.js"></script>

<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="lib/angular/angular-sanitize.js"></script>
<script src="lib/angular/angular-resource.js"></script>

<script src="js/app.js"></script>
<script src="js/services/EventData.js"></script>

<script src="js/filters.js"></script>
<script src="js/directives/mySample.js"></script>
<script src="js/directives/eventThumbnail.js"></script>
<script src="js/directives/upvote.js"></script>
<script src="js/directives/collapsible.js"></script>

<script src="js/controllers/EventController.js"></script>
<script src="js/controllers/EditEventController.js"></script>
<script src="js/controllers/EventListController.js"></script>
<script src="js/controllers/MainMenuController.js"></script>
<script src="js/controllers/SampleDirectiveController.js"></script>
</body>
</html>