<div>
    <img ng-src="{{event.imageUrl}}" alt="{{event.name}}"/>
    <div class="row">
        <div class="span11">
            <h2>{{event.name | uppercase}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="span3">
            <div><strong>Date:</strong> {{event.date}}</div>
            <div><strong>Time:</strong> {{event.time}}</div>
        </div>
        <div class="span4">
            <address>
                <strong>Address:</strong><br/>
                {{event.location.address}}<br/>
                {{event.location.city}}, {{event.location.province}}
            </address>
        </div>
    </div>
    <hr/>
    <h3>Sessions</h3>
    <ul class="thumbnails">
        <li ng-repeat="session in event.sessions" class="span11" id="session{{session.id}}">
            <div class="row session">
                <upvote upvote="upVoteSession(session)" downvote="downVoteSession(session)" count="session.upVoteCount" />
                <div class="well span9">
                    <collapsible title="{{session.name}}">
                        <h6 style="margin-top:-10px">{{session.creatorName}}</h6>
                        <span>Duration: {{session.duration}}</span>
                        <span>Level: {{session.level}}</span>

                        <p>{{session.abstract}}</p>
                    </collapsible>
                </div>
            </div>
        </li>
    </ul>
</div>
